FRONTEND_URL=
PORT=
OPENAI_API_KEY=
DATABASE_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
OAUTH2_REDIRECT_URI=
ACCESS_TOKEN_SECRET=
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=
PINECONE_KEY=
PINECONE_INDEX_HOST=
REDIS_URL=